body {
    font-family: 'Muli', sans-serif;
}
.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0;
}
section .init_content .logo {
    background: rgb(0, 91, 86);
    color: #fff;
    padding: 20px;

}
section .init_content {
    text-align: left;
}
section .title {
    font-size: 78px;
    margin-top: 80px;
    color: #fff;
}
section .content {
    margin-top: 150px;
    padding: 50px;
    background: rgba(256, 256, 256, .8);
    text-align: left;
}
.menu {
    position: absolute;
    overflow: hidden;
    right: auto;
    top: 210px;
    z-index: 10;
    height: 100px;
    width: 100%;
    padding: 0 auto;
    text-align: center;
}
.menu a {
    display: inline-block;
    width: 100px;
    padding: 25px;
    background: rgba(238, 238, 238, .8);
    text-decoration: none;
    margin: 0 20px 0 0;
    color: #333;
}

.menu a.active,
.menu a:active,
.menu a:hover {
    background: rgba(256, 256, 256, 1);
}

.be-the-first {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: #efefef;
    width: 100%;
    padding: 10px 0;
    z-index: 20;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 23px;
}
.be-the-first form {
    display: none;
    cursor: auto;
}
.be-the-first.shown form {
    display: block;
}
.be-the-first .content h2 {
    padding:0;
    margin:0;
    font-weight: normal;
    font-size: 100%;
    padding: 10px 0;
    text-align: center;
}
.clear {
    clear:both
}
.hidden {
    display: none;
}
