section .init_content {
    margin-top: 250px;
    text-align: left;
}
.menu,
.be-the-first,
section .content {
    font-family: Helvetica, Arial, sans-serif;
}
section .content {
    margin-top: 250px;
    padding: 50px;
    background: rgba(256, 256, 256, .3);
    text-align: left;
}
.menu {
    position: absolute;
    overflow: hidden;
    right: auto;
    top: 50px;
    z-index: 10;
    height: 100px;
    width: 550px;
    left: 29%;
}
.menu a {
    display: block;
    width: 100px;
    padding: 25px;
    background: rgba(238, 238, 238, .6);
    text-decoration: none;
    margin: 0 20px 0 0;
    float: left;
    color: #333;
}

.menu a.active,
.menu a:active,
.menu a:hover {
    background: rgba(256, 256, 256, .8);
}
.be-the-first {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: #efefef;
    width: 100%;
    padding: 10px 100px;
    z-index: 20;
    height: 30px;
    overflow: hidden;
}
.be-the-first form {
    display: none;
}
.be-the-first.shown form {
    display: block;
}
.be-the-first .content h2 {
    padding:0;
    margin:0;
    font-weight: normal;
    font-size: 100%;
    padding: 10px 0;
}
.clear {
    clear:both
}
.hidden {
    display: none;
}
