body {
    font-family: 'Muli', sans-serif;
}
.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0;
}
section .init_content .logo {
    background: #fff;
    color: rgba(49, 49, 49, 1);
    padding: 31px 0;

}
section .init_content .slogan {
    margin: 160px 0 80px;
    padding:0;
    background: none;
}
section .init_content .logo h1,
section .init_content .slogan h1,
section .init_content .descr div,
section .content div,
.be-the-first form {
    margin:0 auto;
    width:53%;
    text-align: left;
}
section .init_content .logo h1 {
    font-size: 48px;
}
section .init_content .slogan h1 {
    font-size: 52px;
    text-shadow: #aaa 0px 1px 1px;
}
section .init_content .descr div {
    padding: 73px 0;
}
section .content div,
section .init_content .descr div {
    font-size:25px;
    line-height:30px;
    text-align: justify;
    color: rgba(49, 49, 49, 1);
    padding: 53px 0;
}
section .init_content .holder {
    margin:0;
    padding:0;
    background:none;
}
section .init_content {
    color:#fff;
}
section .init_content .descr {
    background: rgba(256, 256, 256, .8);
}
section .title {
    font-size: 78px;
    margin-top: 100px;
    color: #fff;
}
section .content {
    margin-top: 150px;
    padding: 50px;
    background: rgba(256, 256, 256, .8);
    text-align: left;
}
section .content i {
    color:#fff;
    background:rgba(10, 10, 10, 0.86);
    font-style:normal;
    padding:0 4px;
}
.menu {
    position: absolute;
    overflow: hidden;
    right: auto;
    top: 230px;
    z-index: 10;
    height: 100px;
    width: 100%;
    padding: 0 auto;
    text-align: center;
}
.menu a {
    display: inline-block;
    width: 76px;
    height: 76px;
    padding: 0;
    background: url(../images/numbers.png) top left no-repeat;
    text-decoration: none;
    margin: 0 68px 0 0;
    color: #333;
}
.menu a#second {
    background-position: -144px 0;
}
.menu a#third {
    margin:0;
    background-position: -288px 0;
}

.menu a#fisrt.active,
.menu a#first:active,
.menu a#first:hover {
    background-position: 0 -104px;
}
.menu a#second.active,
.menu a#second:active,
.menu a#second:hover {
    background-position: -144px -104px;
}
.menu a#third.active,
.menu a#third:active,
.menu a#third:hover {
    background-position: -288px -104px;
}

.different,
.be-the-first {
    position: fixed;
    bottom: 0;
    background: none;
    color: #efefef;
    width: 100%;
    padding: 0;
    z-index: 20;
    height: 82px;
    overflow: hidden;
    cursor: pointer;
    font-size: 23px;
}
.be-the-first .arrow {
    background: transparent url(../images/arrow.png) top center no-repeat;
    height:41px;
    padding:0;
    margin:0;
    opacity:0.99;
}
.be-the-first .content {
    background: rgba(0, 0, 0, .9);
    height:100%;
    padding-top:7em;
}
.be-the-first .launching p {
    margin:0 0 7px 0;
}
.be-the-first .thanks,
.be-the-first .launching,
.be-the-first form {
    width:410px;
    margin:0 auto;
}
.be-the-first .launching {
    margin-bottom:2em;
}
.be-the-first .thanks {
    margin-top:1em;
    font-size:20px;
}
.be-the-first form {
    display: none;
    cursor: auto;
    text-align: left;
    line-height: 40px;
    margin-bottom:2em;
}
.be-the-first.shown form {
    display: block;
}
.be-the-first form input {
    border: 2px solid #fff;
    background: transparent;
    color:#fff;
    font-size: 20px;
    line-height: 20px;
    margin:0;
}
.be-the-first form label {
    font-size: 20px;
}
.be-the-first form input.boxed {
    height:25px;
    padding: 2px 4px;
    margin:0;
    display:inline-block;
    vertical-align:middle;
}
.be-the-first form input.text {
    width:300px;
}
.be-the-first form input.submit {
    padding: 0 4px;
    height: 33px;
    border-left:0px;
}

.different {
    height:40px;
    cursor: pointer;
}
.different,
.be-the-first .keep {
    background: rgba(0, 0, 0, .8);
}
.different h2,
.be-the-first .keep h2 {
    padding:0;
    margin:0;
    font-weight: normal;
    font-size: 100%;
    padding: 14px 0;
    text-align: center;
}
.clear {
    clear:both;
}
.hidden {
    display: none;
}
.social p {
    margin: 0 auto;
    width:590px;
    font-size: 20px;
    margin-bottom:1em;
}
.social div {
    margin: 0 auto 0;
    width: 250px;
}
.social a {
    display: inline-block;
    width: 53px;
    height: 53px;
    padding: 0;
    background: url(../images/social.png) 0 -65px no-repeat;
    text-decoration: none;
    margin: 0 29px 0 0;
    color: #333;
}
.social a#tw {
    background-position: -81px -65px;
}
.social a#fb {
    margin:0;
    background-position: -160px -65px;
}

