body {
    font-family: 'Muli', sans-serif;
}
.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0;
}
section .init_content .logo {
    background: #fff;
    color: rgba(49, 49, 49, 1);
    padding: 31px 0;

}
section .init_content .slogan {
    margin: 160px 0 80px;
    padding:0;
    background: none;
}
section .init_content .logo h1,
section .init_content .slogan h1,
section .init_content .descr div {
    margin:0 auto;
    width:53%;
    text-align: left;
}
section .init_content .logo h1 {
    font-size: 48px;
}
section .init_content .slogan h1 {
    font-size: 52px;
    text-shadow: #aaa 0px 1px 1px;
}
section .init_content .descr div {
    color: rgba(49, 49, 49, 1);
    padding: 83px 0;
    font-size:25px;
    line-height:30px;
    text-align: justify;
}
section .init_content .holder {
    margin:0;
    padding:0;
    background:none;
}
section .init_content {
    color:#fff;
}
section .init_content .descr {
    background: rgba(256, 256, 256, .8);
}
section .title {
    font-size: 78px;
    margin-top: 80px;
    color: #fff;
}
section .content {
    margin-top: 150px;
    padding: 50px;
    background: rgba(256, 256, 256, .8);
    text-align: left;
}
.menu {
    position: absolute;
    overflow: hidden;
    right: auto;
    top: 210px;
    z-index: 10;
    height: 100px;
    width: 100%;
    padding: 0 auto;
    text-align: center;
}
.menu a {
    display: inline-block;
    width: 76px;
    height: 76px;
    padding: 0;
    background: url(../images/numbers.png) top left no-repeat;
    text-decoration: none;
    margin: 0 68px 0 0;
    color: #333;
}
.menu a#second {
    background-position-x: -144px;
}
.menu a#third {
    margin:0;
    background-position-x: -288px;
}

.menu a.active,
.menu a:active,
.menu a:hover {
    background-position-y: -104px;
}


.be-the-first {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: #efefef;
    width: 100%;
    padding: 10px 0;
    z-index: 20;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 23px;
}
.be-the-first form {
    display: none;
    cursor: auto;
}
.be-the-first.shown form {
    display: block;
}
.be-the-first .content h2 {
    padding:0;
    margin:0;
    font-weight: normal;
    font-size: 100%;
    padding: 10px 0;
    text-align: center;
}
.clear {
    clear:both
}
.hidden {
    display: none;
}
