section .init_content {
    margin-top: 250px;
    text-align: left;
}
section .content {
    margin-top: 250px;
    padding: 50px;
    background: rgba(256, 256, 256, .3);
    text-align: left;
}
.menu {
    position: absolute;
    overflow: scroll;
    right: auto;
    top: 50px;
    z-index: 10;
    height: 100px;
    width: 520px;
    left: 30%;
}
.menu a {
    display: block;
    width: 100px;
    padding: 25px;
    background: rgba(238, 238, 238, .6);
    text-decoration: none;
    margin: 0 20px 0 0;
    float: left;
}

.menu a.active,
.menu a:active,
.menu a:hover {
    background: rgba(256, 256, 256, .6);
}
.be-the-first {
    position: fixed;
    bottom:0;
    background: rgba(0, 0, 0, .6);
    color: #efefef;
    width:100%;
    padding:10px 100px;
}
.be-the-first .content {
    padding:0;
    margin:0;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}
.clear {
    clear:both
}
.hidden {
    display: none;
}
